@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.cta-button {
  display: inline-block;
  border: 2px solid #8259ef;
  height: 50px;
  width: 100%;
  max-width: 280px;
  background-color: #8259ef;
  color: white;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 0 20px;
  font-weight: 700;
  text-decoration: none;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 1.2;
  text-align: center;
  cursor: pointer;
  outline: none;
  font-family: sans-serif;
  transition: all 0.1 ease-out;
}
